.custom-table__pagination {
    text-align: right;
    &__list {
        list-style: none;
        li {
            display: inline-block;
            padding-left: 10px;
            button {
                padding: 5px 10px;
                margin: 0 10px;
            }
        }
    }
}