<div class="custom-table__pagination">
    <ul class="custom-table__pagination__list">
        <li>
            Items Per Page:
        </li>
        <li>
            <select (change)="changePerPages($event)">
                <option *ngFor="let range of itemRanges;" [selected]="range === perPage">{{range}}</option>
            </select>
        </li>
        <li *ngIf="totalRecords > 0">
            {{ page * perPage + 1}} - {{ ((page * perPage) +  perPage * 1)  }} of {{ totalRecords }}
        </li>
        <li>
            <button [disabled]="page === 0" (click)="previousPage()">Previous</button>
            <button [disabled]="page === maxPage" (click)="nextPage()">Next</button>
        </li>
    </ul>
</div>