.custom-table {
    &__wrapper {
        overflow-x: auto;
        max-height: 450px;
    }
    &__table {
        text-align: left;
        position: relative;
        border-collapse: collapse; 
        width: 100%;
        th {
            background: #f7f7f7;
            text-transform: capitalize;
            position: sticky;
            top: 0;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
          }
        th, td {
            padding: 10px 15px;
            border: 1px solid #aaa;
            white-space: nowrap;
        }
    }
}
