<ng-container *ngIf="dataSource">
    <div class="custom-table">
        <div class="custom-table__wrapper">
            <table class="custom-table__table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" (change)="selectAllRows($event)" />
                        </th>
                        <th *ngFor="let column of displayColumns;">
                            {{ column }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of dataSource | slice: page * perPage : (page * perPage) + perPage">
                        <td>
                            <input type="checkbox" [(ngModel)]="row.selected" />
                        </td>
                        <ng-container *ngFor=" let column of displayColumns;">
                            <td *ngIf="column !== 'action' else actionButton;">
                                {{ getColumnData(row, column) }}
                            </td>
                        </ng-container>
                        <ng-template #actionButton>
                            <td>
                                <button (click)="onClick(row)">Submit</button>
                            </td>
                        </ng-template>

                    </tr>
                    <tr *ngIf="dataSource.length === 0">
                        <td [attr.colspan]="displayColumns.length + 1" [ngStyle]="{'text-align':'center'}"> No Records
                            Found</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <app-table-pagination [page]="page" [perPage]="perPage" [totalRecords]="dataSource.length"
        (changePage)="changePage($event)" (changePerPageCount)="changePerPageCount($event)">
    </app-table-pagination>
</ng-container>